src/main/mule/github-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a9abcd8e-e172-4579-acbe-9ea294089713" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-pocFlow" doc:id="a21aeefe-d8c0-43ab-b62c-faf6c557aceb" >
		<http:listener doc:name="Listener" doc:id="dda4caf4-856c-454a-876d-bb6b1b351168" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='{"message": "Success"}' doc:name="Set Payload" doc:id="cf69dd4f-43d2-4564-9c3b-01dc3d6ed92f" />
		<logger level="INFO" doc:name="Logger" doc:id="34763a05-447d-49e4-a86d-5e5f1f97cdf2" message="#[payload]"/>
	</flow>
</mule>
